
.main-container{
    text-align: center;
}
.slides{
    text-align: center;
    display: none;
}
.slide0{
    display: block;
    text-align: center;
}
.slideshow-controls{
    text-align: center;
}
