
.main-container{
    text-align: center;
}
.main-container3{
    text-align: center;
    background-color: rgb(28, 34, 94);
}
.slides{
    text-align: center;
    display: none;
}
.slide0{
    display: block;
    text-align: center;
}
.slideshow-controls{
    text-align: center;
}
.anchorTags{
    text-align: center;
    margin-top: 20em;
}
.profileImage{
    height: 200px;
    width: 200px;
    border-bottom-width: 5px
    border-style: inset;
    
}